@media(min-width:240px) and (max-width:360px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 25vh;
    }

    .blog-desc-box{
        padding: 5px;
    }

    .blog-desc-box a{
        width: 90px;
        height: 27px;
        font-size: 9px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 13px;
        width: 175px;
    }

    .blog-desc-box p{
        font-size: 12px;
        width: 200px;
    }
}

@media(min-width:361px) and (max-width:390px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 25vh;
    }

    .blog-desc-box{
        padding: 5px;
    }

    .blog-desc-box a{
        width: 100px;
        height: 35px;
        font-size: 9px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 13px;
        width: 175px;
    }

    .blog-desc-box p{
        font-size: 12px;
        width: 200px;
    }
}

@media(min-width:391px) and (max-width:470px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 25vh;
    }

    .blog-desc-box{
        padding-left: 15px;
    }

    .blog-desc-box a{
        width: 125px;
        height: 45px;
        font-size: 12px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 15px;
        width: 225px;
        margin-bottom: 10px;
    }

    .blog-desc-box p{
        font-size: 14px;
        width: 225px;
    }
}

@media(min-width:471px) and (max-width:550px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 35vh;
    }

    .blog-desc-box{
        padding-left: 15px;
    }

    .blog-desc-box a{
        width: 125px;
        height: 45px;
        font-size: 12px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 15px;
        width: 225px;
        margin-bottom: 10px;
    }

    .blog-desc-box p{
        font-size: 14px;
        width: 225px;
    }
}

@media(min-width:551px) and (max-width:770px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 35vh;
    }

    .blog-desc-box{
        padding-left: 15px;
    }

    .blog-desc-box a{
        width: 125px;
        height: 45px;
        font-size: 12px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .blog-desc-box p{
        font-size: 17px;
    }
}

@media(min-width:771px) and (max-width:890px){
    .blog .portfolio-title, .blog .portfolio{
        margin: 0;
    }

    .blog-box{
        height: 35vh;
    }

    .blog-desc-box{
        padding-left: 15px;
    }

    .blog-desc-box a{
        width: 125px;
        height: 45px;
        font-size: 12px;
    }

    .blog-desc-box h2.portfolio-title{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .blog-desc-box p{
        font-size: 17px;
    }
}